
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------*/
body {
	font-family: 'Rufina', serif;
	font-weight: 400;
	color: #666666;
	font-size: 14px;
	line-height: 1.428571429;
	width: 100%;
	
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	line-height: 1.35;
	font-family: 'Open Sans', sans-serif;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #333333;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #f07c29;
}
body ::-webkit-scrollbar-track
{
	 
	background-color: #fff;
}

body ::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #fff;
}

body ::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.07);	
	background-image: rgba(0,0,0,0.07);	
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
input[type=text] {
	min-width: 50px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
img{
	max-width: 100%; 
	height: auto;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #f07c29;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #f07c29;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #f07c29;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #f07c29;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #f07c29;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f07c29;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #f07c29;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #f07c29;
}
.tooltip-inner{
	background: #f07c29;
}
.alert{
	text-align: center;
	font-size: 13px;
	margin: 0;
	border-radius: 0;
	border: none;
}
/* transition */
a:hover,.banner-3 a:hover::before,
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover,
.product-layout:hover  .action-links,
.static-policy .col:hover .text-content h2, .static-policy .col:hover .col-img .hover,
.layout1:hover .btn-wishlist, .layout1:hover .btn-compare,
.banner-2 a:hover::before, .product-image:hover .img-r,
.banner-1 > div:hover img{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff;
	background-color: #f07c29;
	border-color: #f07c29;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: none;
	background: #666;
	padding: 0px 25px;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	line-height: 44px;
	display: inline-block;
	vertical-align: top;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
#button-voucher,
#button-coupon{
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
	border-radius: 20px;
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
#modal-agree{
	z-index: 9999;
}
/* owl carousel */
.owl-container {
	margin: 0 -15px;
}
.owl-container .owl-item {
	padding: 0 15px;
}
.owl-carousel.owl-theme:hover .owl-nav div {
  opacity: 1;
}
.owl-carousel.owl-theme  .owl-dot:hover span {
	background: #f07c29;
}
.owl-carousel.owl-theme  .owl-dot.active span {
  background: #f07c29;
  width: 28px;
  border-radius: 10px;
}
.owl-carousel.owl-theme  .owl-dot {
	display:inline-block;
	vertical-align:top;
}
.owl-carousel.owl-theme  .owl-dot span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
  margin: 5px;
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.owl-carousel.owl-theme .owl-nav {
	margin: 0;
}
.owl-carousel.owl-theme .owl-nav div {
  position: absolute;
  top: 50%;
  font-size: 0;
  margin: 0;
  margin-top: -35px;
  width: 69px;
  height: 69px;
  padding: 0;
  line-height: 69px;
  color: #666666;
  background: #f6f6f6;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.owl-carousel.owl-theme .owl-nav div:before {
	font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    width: 100%;
}
.owl-carousel.owl-theme .owl-nav div.owl-prev {
  left: 10px;
}
.owl-carousel.owl-theme .owl-nav div.owl-prev:before {
  content: "\f104";
}
.owl-carousel.owl-theme .owl-nav div.owl-next {
  right: 10px;
}
.owl-carousel.owl-theme .owl-nav div.owl-next:before {
  content: "\f105";
}
.owl-carousel.owl-theme:hover .owl-nav div.owl-prev {
  left: 0;
}
.owl-carousel.owl-theme:hover .owl-nav div.owl-next {
  right: 0;
}
.owl-carousel.owl-theme .owl-nav div:hover {
  background: #f07c29;
  border-color: #f07c29;
  color: #fff;
}
/*--------------*/

/* newsletter popup */
.b-close{
	display: block;
}
.newletter-popup{
	background: #fff;
	top: 50% !important;
	
	position: fixed !important;
	padding: 0;
	text-align: center;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
#boxes .newletter-title h2{
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 15px;
}
.newletter-popup #dialog {
	padding: 50px 20px;
}
#boxes .box-content label{
	font-weight: 400;
	max-width: 650px;
	font-size: 14px;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 65%;
	margin: 20px 0;
	padding:0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	margin-top: -1px;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	
	text-align: center;
	background: #333;
	border-radius: 0;
	cursor: pointer;
	float: right;
	padding: 5px 10px;
	color: #fff;
	margin-top: -49px;
	margin-right: -19px;
}
#popup2:hover {
	background:#f07c29;
}
/* newsllter */
.newletter-subscribe-container {
	width: 100% !important;
    margin: 140px 0 0 0;
    text-align: center;
    background: #f07c29 url(../image/bkg_newsletter.jpg) top center no-repeat;
    padding: 45px 25px 25px 25px;
    min-height: 350px;
    position: relative;
}
.newletter-subscribe-container:after {
  content: "";
  width: 53px;
  height: 53px;
  background: #fff;
  border: 2px solid #f07c29;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -26px;
  z-index: -1;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.newletter-subscribe-container:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #f07c29;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -42px;
  z-index: 1;
  border-radius: 100%;
}
#dialog-normal .newletter-title {
}
#dialog-normal .newletter-title h3 {
	font-size: 22px;
	color: #fff;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	margin-top: 0;
	margin-bottom: 28px;
}
#dialog-normal .newletter-title h3 span {
	display: block;
}

#dialog-normal .newletter-title label{
	font-size: 16px;
    line-height: 24px;
    color: #fff;
}

#dialog-normal .newleter-content{
	margin-bottom: 0;
    position: relative;
    margin-top: 24px;
    width: 100%;
    display: inline-block;
}
#subscribe-normal {
	margin-bottom: 0;
	position: relative;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}

#subscribe_email-normal{
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 30px;
    height: 38px;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    width: 100%;
    font-weight: 400;
}
#frm_subscribe-normal .btn:hover{
	color: #f07c29;
}
#frm_subscribe-normal .btn {
	margin-top: 28px;
	height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 0 25px;
    background: #fff;
    color: #333;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#subscribe-normal .btn span {
	
}

#notification-normal{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -25px;
	font-size: 12px;
}
#notification-normal div{
	color: #FFF;
}
#notification-normal div.warning{
	color: #fff;
	text-align: center;
}
#subscribe-normal ::-webkit-input-placeholder {
  color: #fff;
}
#subscribe-normal :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#subscribe-normal ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#subscribe-normal :-ms-input-placeholder {
  color: #fff;
}
/* Top */
#top{
	background: #e3e3e3;
    border-bottom: 1px solid #ededed;
    font-family: 'Open Sans', sans-serif;
}
#top .box-left {
	float:left;
	margin: 0;
	list-style: none;
	padding: 0;
}

#top .box-right {
	float:right;
}
#top .box > li {
	display: inline-block;
	vertical-align: top;
}

#top .btn-group .text-ex{
	padding: 10px 0;
	margin-right: 9px;
	color: #fff;
	text-transform: capitalize;
	line-height: 25px;
	display: none;
}
#top .btn-group  .btn-link,#top .order a {
	text-shadow: none;
	cursor: pointer;
	font-size: 13px;
	text-transform: capitalize;
	overflow: hidden;
	color: #676767;
	line-height: 25px;
	font-weight: 400;
	padding: 12px 0;
	display: block;
	text-align: left;
	border: 0;
	text-decoration: none;
}
#top .btn-group  .btn-link img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	margin-top: -2px;
	line-height: inherit;
}
#top .btn-group  .btn-link:hover,#top .order a:hover  {
	color: #f07c29;
}
#top .box > li {
	margin-right: 25px;
	position: relative;
}
#top .box > li:last-child {
	margin-right:0;
	padding-right:0;
}
#top .box-right li:after {
	content: "";
    height: 13px;
    width: 1px;
    background: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#top .box-right li {
	padding-right: 25px;
}
#top .box-right li:last-child {
	padding-right:0;
}
#top .box-right li:last-child:after {
	display: none;
}
#top .btn-group .dropdown-menu{
	position: absolute;
    left: 0;
    right: auto;
    text-align: left;
    margin: 0;
    background: white;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
}
#form-currency .btn-group .dropdown-menu{
	right: auto;
	left: -15px;
}
#top .btn-group .dropdown-menu li {
	border-bottom: 1px solid #f2f2f2;
}
#top .btn-group .dropdown-menu li:last-child {
	border:0;
}
#top .btn-group .dropdown-menu li > a,
#top .btn-group .dropdown-menu li> button {
	font-size: 13px;
    padding: 10px 0 9px 0;
    line-height: 24px;
    display: block;
    text-transform: capitalize;
    font-weight: normal;
    height: inherit;
    border-radius: 0;
    text-align: left;
    color: #676767;
}
#top .btn-group .dropdown-menu li > a:hover,
#top .btn-group .dropdown-menu li> button:hover {
	text-decoration: none;
	color: #f07c29;
}
#top .btn-group .dropdown-menu li a img,
#top .btn-group .dropdown-menu li button img{
	vertical-align: baseline;
	margin-right:5px;
}
#top .btn-group .dropdown-menu > a:hover,
#top .btn-group .dropdown-menu > button:hover,
#top .btn-group .dropdown-menu .item-selected{
	color: #f07c29;
	text-decoration: none;
}

.logo-container {
	z-index: 1;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#logo{
	padding: 44px 0;
}
#logo a{
	display: inline-block;
}

.header-inner {
	position:relative;
	background: #fff;
	text-align: center;
}
.header-inner .container-inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	position: relative;
}
.top-search {
	position: absolute;
	top: 50%;
	left: 0;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left:0;
}


/* search */
.search-button {
	font-size: 28px;
	color: #fff;
	text-align: center;
	height: 40px;
	width: 40px;
	line-height: 40px;
	cursor: pointer;
	box-shadow: none !important;
}
.search-button:hover {
	color: #f07c29;
}

#search input {
	height: 42px;
	font-size: 14px;
	color: #a4a4a4;
	background: #ededed;
	font-size: 14px;
	width: 235px;
	font-weight: 400;
	border: 0;
	border-radius: 3px;
	box-shadow: none !important;
	padding: 10px 45px 10px 20px;
	float: none;
}
#search .input-group-btn {
	position: absolute;
	right: 0;
	width: auto;
	top: 0;
}
#search .input-group-btn button {
	background: #f07c29;
	color: #fff;
	border: 0;
	height: 42px;
	width: 42px;
	padding: 0;
	border-radius: 3px;
	box-shadow: none !important;
	margin: 0;
}
#search .input-group-btn button:before {
	content: "\f002";
	font-family:"FontAwesome";
	font-size: 18px;
}
/*====search-by-category=====*/
#search-by-category {
    position: relative;
    width: 100%;
}
#search-by-category .search-container{
}
#search-by-category .search-container .categories-container{
    position: absolute;
    padding: 10px 0;
    left: 0;
    top: 0;
}
#search-by-category .search-container #text-search{
    padding: 0 55px 0 190px;
    height: 49px;
    border-radius: 3px;
    font-size: 12px;
    border: 0;
    z-index: 1;
    background: #fff;
    color: #c2c2c2;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#search-by-category #sp-btn-search{
    position: absolute;
    right: 0px;
    top: 0;
}
#search-by-category .search-container .categories-container .hover-cate p{
    margin:0;
    color: #363f4d;
    padding: 0 30px 0 25px;
    cursor: pointer;
    overflow: hidden;
    position:relative;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 29px;
}
#search-by-category .search-container .categories-container .hover-cate p:after {
	content:"";
	position: absolute;
	width: 1px;
	height: 16px;
	background: #e1e1e1;
	right: 0;
	top: 50%;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#search-by-category .search-container .categories-container .hover-cate p i{display: inline-block;vertical-align: top;font-size: inherit;line-height: inherit;margin-left: 19px;}
#search-by-category .search-container .categories-container .hover-cate .cate-items{
    z-index: 9999 !important;
    position: absolute;
    display: none;
    background: #FFF;
    max-height: 300px;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid #ddd!important;
    padding: 5px;
    width:100%;
    cursor: pointer;
	top: 100%;
	text-align: left;
}
.cate-items li {
    text-transform: capitalize;
    color: #363f4d;
    font-size: 11px;
    list-style: none;
    line-height: 18px;
}
.cate-items li:hover{
    color:#f07c29
}
.cate-items li.f1 {
    padding-left: 5px;
}
.cate-items li.f2 {
    padding-left: 15px;
}
#search-by-category .search-ajax{
    position: absolute;
    z-index: 9999 !important;
    background: none repeat scroll 0% 0% #fff;
    left: 0px;
    top: 100%;
    width: 88%;
}
.ajax-result-item .product-info .detail .price-box .old-price{
	text-decoration: line-through;
	color: #acacac;
	font-weight: 400;
}
.ajax-result-item .product-info .detail .price-box p{
	display: inline-block;
}
.ajax-result-item .product-info .detail .price-box{
	font-weight: 700;
	margin: 0 0 10px 0;
}
.ajax-result-item .product-info .detail .product-name{
	margin: 10px 0;
}
#search-by-category .search-ajax li{
    list-style: none;
}
#search-by-category .search-ajax .ajax-result-container{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-msg{
  padding: 20px;
  margin: 0;
  color: #646464;
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-list{
    display:block;
    border:1px solid #ddd;
    max-height:300px;
    overflow: auto;
    padding:10px;
}
#btn-search-category:hover{
	color: #363f4d;
}
#btn-search-category{
    background: #f07c29;
    border:none!important;
    padding:0;
    box-shadow:none;
    text-shadow:none;
    border-radius: 3px;
    height: 49px;
    width: 49px;
    color: #fff;
    font-size: 0;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 49px;
}
#btn-search-category:before {
	font-family: 'Stroke-Gap-Icons';
	content: "\e6a4";
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
/*==========================*/
.box-cart {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 112;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.box-cart .links {
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
}
.box-cart .links a {
	font-size: 14px;
	color: #666666;
	line-height: 25px;
	display: block;
}
.box-cart .links a:hover,.box-cart .links a:hover:before {
	color: #f07c29;
}
.box-cart .links a:before {
	content: "\f004";
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    color: #a1a1a1;
}
.box-cart .links .compare a:before {
	content: "\f0ec";
}
#cart-total{
	position: absolute;
	font-size: 14px;
	bottom: -17px;
	left: 39px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0;
	background: #f07c29;
	border-radius: 100%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

#cart .dropdown-menu {
	 
}

#cart{
	width: auto;
}
#cart .mycart {
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 27px;
	padding: 2.5px 0;
}
#cart .mycart span {font-size: 16px;color: #444444;font-weight: 700;text-transform: uppercase;font-family: 'Open Sans', sans-serif;}
#cart .mycart .total-price {
	display: block;
	color: #787878;
}

#cart > button{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	width: auto;
	position: relative;
}
#cart > button > i {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	background: url(../image/icon_cart.png) center no-repeat;
}

#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}
#cart .dropdown-menu{
	border: none;
	border-radius: 0;
	box-shadow: 0 6px 12px #000;
	width: 250px;
	margin: 0;
	padding: 10px;
	/* top: 35px; */
}
.headerSpace {
	display: none;
}
.top-menu {
	position: relative;
	background: #000000;
}

.fix-header{
	border: none;
	background: rgba(32, 34, 38, 0.9);
	box-shadow: 0 0 5px #bdbdbd;
	-moz-box-shadow: 0 0 5px #bdbdbd;
	-webkit-box-shadow: 0 0 5px #bdbdbd;
	-o-box-shadow: 0 0 5px #bdbdbd;
	-ms-box-shadow: 0 0 5px #bdbdbd;
	width: 100%;
	max-width: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 889;
	margin: 0 auto;
	position: fixed !important;
	-webkit-animation-name: fadeInDown;
	-webkit-animation-duration: 5.0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: anim_titles;
	-moz-animation-duration: 5.0s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.fix-header #pt_custommenu::after, 
.fix-header #pt_custommenu::before{
	display: none;
}
.fix-header .pt_custommenu div.pt_menu .parentMenu a {
	padding-top: 18px;
	padding-bottom: 18px;
}
.fix-header #pt_custommenu{
	margin: 0;
}
.fix-header #logo {
	padding: 10px 0;
}
/* cms block */
.banner-static {
  text-align: center;
  clear: both;
  /* overflow: hidden; */
}
.banner-static .owl-pagination {
	position:absolute;
	left:0;
	right:0;
	margin: auto;
	bottom: 2%;
}
.banner-static .image a {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
}
.banner-static .image a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.banner-static .image a:hover:before {
  opacity: 1;
}
.banner-static .image a:hover img {
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}
.banner-static .image a:hover .text .link {
  background: #fff;
  color: #333333;
}
.banner-static .image a img {
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.banner-static .image a .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-static .image a .text .text1,
.banner-static .image a .text .text2,
.banner-static .image a .text .text3 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.banner-static .image a:hover .text .text1 {
  -webkit-animation: fadeInUp 400ms ease-in-out;
  -moz-animation: fadeInUp 400ms ease-in-out;
  -ms-animation: fadeInUp 400ms ease-in-out;
  animation: fadeInUp 400ms ease-in-out;
}
.banner-static .image a:hover .text .text2 {
  -webkit-animation: fadeInUp 600ms ease-in-out;
  -moz-animation: fadeInUp 600ms ease-in-out;
  -ms-animation: fadeInUp 600ms ease-in-out;
  animation: fadeInUp 600ms ease-in-out;
}
.banner-static .image a:hover .text .text3 {
  -webkit-animation: fadeInUp 800ms ease-in-out;
  -moz-animation: fadeInUp 800ms ease-in-out;
  -ms-animation: fadeInUp 800ms ease-in-out;
  animation: fadeInUp 800ms ease-in-out;
}
.static-menu-bottom {
  padding: 30px 30px 5px 30px;
}
.static-sidebar {
	margin-bottom: 30px;
}
.static-top-skybook1 {
	margin-top: 67px;
}

.static-top-skybook1 .image {
  margin-top: 30px;
}
.static-top-skybook1 .image a .text {
  left: 5%;
  right: auto;
}
.static-top-skybook1 .image a .text .text1 {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  display: block;
  line-height: 1;
  margin-bottom: 7px;
}
.static-top-skybook1 .image a .text .text2 {
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  color: #fff;
  margin-right: -218px;
}
.static-middle-skybook1 {
}
.static-middle-skybook1 .image { 
	margin-top: 30px;
}
.background-full {
	margin-top: 88px;
	padding:70px 0 100px 0;
	background: url(../image/bkg_static_middle.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* --- */
.bestseller-group {
  margin-top: 100px;
}
.static-author-best .col-des {
  width: 50%;
  padding-right: 15px;
  float: left;
}
.static-author-best .col-des .title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 52px;
  font-weight: 700;
}
.static-author-best .col-des .name {
  font-size: 70px;
  text-transform: uppercase;
  color: #f07c29;
  text-align: right;
  font-weight: 700;
  line-height: 1.1;
}
.static-author-best .col-des .name span {
  display: block;
  text-transform: capitalize;
}
.static-author-best .col-des .categories {
  text-transform: uppercase;
  color: #999999;
  text-align: right;
  margin-top: 5px;
}
.static-author-best .col-des .categories a {
  color: #999999;
}
.static-author-best .col-des .categories a:hover {
  color: #f07c29;
  text-decoration: underline;
}
.static-author-best .col-des .des {
  font-size: 16px;
  text-align: right;
  line-height: 24px;
  margin-top: 35px;
}
.static-author-best .col-des .social-author {
  text-align: right;
  margin-top: 35px;
}
.static-author-best .col-des .social-author li {
  display: inline-block;
  vertical-align: top;
}
.static-author-best .col-des .social-author li a {
  width: 37px;
  height: 37px;
  line-height: 37px;
  background: #e1e1e1;
  border-radius: 100%;
  font-size: 0;
  text-align: center;
}
.static-author-best .col-des .social-author li a:before {
  color: #fff;
  font-size: 15px;
}
.static-author-best .col-des .social-author li a:hover {
  background: #f07c29;
}
.static-author-best .col-image {
  width: 50%;
  padding-left: 15px;
  overflow: hidden;
}
/* Products */ 

.owl-item.active .item {
  -moz-animation: zoomIn 500ms ease;
  -o-animation: zoomIn 500ms ease;
  -webkit-animation: zoomIn 500ms ease;
  animation: zoomIn 500ms ease;
}
.item .item-inner {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #fff;
}
.label_new,.label_sale {
	color: #fff;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 12px;
	z-index: 5;
	line-height: 18px;
	padding: 0 6px;
	background: #f07c29;
}
.label_new:before,.label_sale:before {
	position: absolute;
    right: -6px;
    top: 0;
    content: "";
    border-left: 3px solid #f07c29;
    border-top: 4.5px solid #f07c29;
    border-bottom: 4.5px solid transparent;
    border-right: 3px solid transparent;
}
.label_new:after,.label_sale:after {
	position: absolute;
    right: -6px;
    bottom: 0;
    content: "";
    border-left: 3px solid #f07c29;
    border-bottom: 4.5px solid #f07c29;
    border-top: 4.5px solid transparent;
    border-right: 3px solid transparent;
}
.label_sale {
	background: #eeb900;
	top: 18px;
}
.label_sale:after{
	border-left: 3px solid #eeb900;
    border-bottom: 4.5px solid #eeb900;
}
.label_sale:before {
	border-left: 3px solid #eeb900;
    border-top: 4.5px solid #eeb900;
}
.item-inner .images-container {
	position: relative;
	background: #fff;
	text-align: center;
	overflow: hidden;
	
}
.item-inner .images-container .product-image {
	position:relative;
	display: block;
}
.item-inner .images-container img {
	margin: auto;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.item-inner .images-container .img-r {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	opacity:0;
	visibility:hidden;
	z-index:1;
	
}
.item-inner:hover .images-container .img-r {
	opacity:1;
	visibility: visible;
}

.qv-button-container {
	display: block;
}
.item-inner button.btn-quickview {
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	border-radius:100%;
	font-size: 0;
	background: #f07c29;
	text-align: center;
	padding: 0;
	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.item-inner button.btn-quickview:hover {
	color: #f07c29;
	background: #fff;
}
.item-inner button.btn-quickview:before {
	content: "\f00e";
	font-size: 22px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-family:"FontAwesome";
	font-weight: normal;
}
.item-inner button.btn-quickview span {
	display: none;
}
.item-inner:hover button.btn-quickview {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.item-inner .action-links button.btn-cart {
	line-height: 30px;
	background-color: white;
	font-weight: 700;
	letter-spacing: 0;
	font-size: 16px;
	padding: 0;
	border-radius: 0;
	text-align: center;
	text-transform: capitalize;
	color: #333;
	display: inline-block;
	vertical-align: top;
}
.item-inner .action-links button.btn-cart:before {
	content: "\f07a";
	font-family: 'FontAwesome';
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	font-weight: normal;
}
.item-inner .action-links .add-to-links {
	display: inline-block;
	vertical-align: top;
}
button.btn-wishlist,button.btn-compare{
	line-height: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    font-weight: normal;
    font-size: 0;
    padding: 0;
    border-radius: 0;
    text-align: center;
    color: #333;
}
button.btn-wishlist span,button.btn-compare span { display:none;}
button.btn-wishlist:before,button.btn-compare:before {
	content: "\f08a";
    font-family: 'FontAwesome';
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
}
button.btn-compare:before {
	content: "\f0ec";
}
.item-inner .action-links button:hover {
	background: none;
	color: #f07c29;
}
.item-inner .caption {
	padding: 4px 0;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	background: transparent;
	text-align: center;
	position: relative;
}
.item-inner .product-des {line-height: 24px;padding-bottom: 10px;}
.product-name {
	margin-bottom: 13px;
	display: block;
	margin-top: 0;
}
.product-name a {
	color: #333333;
	padding: 0;
	display: block;
	text-transform: capitalize;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Rufina', serif;
}
.product-name a:hover {
	color: #f07c29;
}
.ratings {
	display:block;
}
.ratings a {
	margin-left: 8px;
	text-transform: capitalize;
	color: #999999;
	font-size: 13px;
	line-height: 12px;
	display: inline-block;
	vertical-align: top;
}
.ratings a:hover {
	color: #f07c29;
}
.ratings a.review-count:after {
	content: "|";
	margin-left: 8px;
	vertical-align: top;
}
.ratings .rating-box {
	display: inline-block;
	vertical-align:top;
}
.rating-box div[class^='rating']{
	background: url('../image/rating0.png') no-repeat;
	font-size: 0;
	height: 12px;
	width: 59px;
}
.rating-box div.rating1{
	background-image: url('../image/rating1.png');
}
.rating-box div.rating2{
	background-image: url('../image/rating2.png');
}
.rating-box div.rating3{
	background-image: url('../image/rating3.png');
}
.rating-box div.rating4{
	background-image: url('../image/rating4.png');
}
.rating-box div.rating5{
	background-image: url('../image/rating5.png');
}
.price-box p {
	display: inline-block;
	vertical-align:top;
	margin-bottom: 0;
}
.price-box .price-tax {
	display: none;
}
.price-box .price {
	color: #f07c29;
	font-size: 20px;
	font-weight: 400;
}
.price-box p.special-price .price{
	color: #f07c29;
}
.price-box p.old-price {
	margin-left: 5px;
	padding-top: 3px;
}
.price-box p.old-price .price {
	color: #909090;
	text-decoration: line-through;
	font-size: 15px;
}
.item-inner .caption .price-box {
	display: block;
}
.item-inner .caption .ratings {margin-bottom: 5px;}
.item-inner .caption .action-links {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.item-inner .caption .price-box label {
	margin:0;
	font-size: 13px;
	color: #363f4d;
	display: none;
}
.item-inner .caption .manufacture-product {
	display: none;
}

.item-inner .caption .available {
	display: none;
}
/* module title*/
.module-title {
	position: relative;
	display: block;
	margin-top: 95px;
	margin-bottom: 49px;
	text-align: center;
}
.module-title h2 {
	position: relative;
	display: inline-block;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}
.module-description {
    text-align: center;
    margin-bottom: 47px;
    margin-top: 23px;
}
.module-description p {
	font-size: 16px;
	line-height: 24px;
	max-width: 560px;
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
	margin: 0;
}
/*-------------*/

/*product-customize*/
.module-customize1 .product-customize {
	padding: 60px 0;
}
.module-customize1 .product-customize .row {
	display: table;
}
.module-customize1 .product-customize .row .col {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.module-customize1 .product-customize .item-inner .caption {
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	padding: 35px 15px 45px 15px;
}
.module-customize1 .product-customize .product-name a {
	font-size: 28px;
	font-weight: 700;
}
.module-customize1 .product-customize .product-name {
	margin-bottom: 3px;
}
.module-customize1 .product-customize .manufacture-product {
	color: #999;
	text-transform: capitalize;
	font-size: 22px;
	font-style: italic;
}
.module-customize1 .product-customize .manufacture-product a {
	font-style: normal;''
}
.module-customize1 .product-customize .product-des {
	color: #666;
	font-size: 16px;
	line-height: 24px;
	padding-top: 8px;
}
.module-customize1 .product-customize .read-more {
	color: #f07c29;
	text-transform: capitalize;
	text-decoration: underline;
	display: block;
	margin-top: 17px;
}
.module-customize1 .product-customize .read-more:hover {
	color: #202226;
}
.module-customize1 .product-customize .price-box .price {
	font-size: 28px;
}
.module-customize1 .product-customize .price-box p.old-price .price {
	font-size: 24px;
}
.module-customize1 .product-customize .price-box p.old-price {
	padding-top: 3px;
}
.module-customize1 .product-customize .item-inner .caption .ratings {
	margin-top: 7px;
}
.module-customize1 .product-customize .item-inner .caption .action-links {
	display: block;
	margin-top: 20px;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart {
	float: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	background: #f07c29;
	padding: 0 22px;
	color: #fff;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart:before {
	display: none;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart:hover {
	background: #202226;
}

/*grid-style*/
.grid-style:not(:first-child) {
	margin-top: 40px;
}
.grid-style .item-inner .action-links {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #fff;
    padding-bottom: 8px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid-style .item-inner .action-links:after {
	content: "";
    width: 1px;
    height: 1px;
    background: #cccccc;
    left: 50%;
    right: 50%;
    bottom: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid-style .item-inner:hover .action-links:after {
	width: auto;
    left: 0;
    right: 0;
    opacity: 1;
}
.grid-style .item-inner:hover .action-links {
	opacity: 1;
}
.grid-style .item-inner:hover .price-box {
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid-style .item-inner .action-links button.btn-cart {
	float: left;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.grid-style .item-inner .action-links .add-to-links {
	float: right;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.grid-style .item-inner:hover .action-links button.btn-cart,
.grid-style .item-inner:hover .action-links .add-to-links {
	opacity: 1;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
/*list-style*/

.list-style:not(:first-child) {
	margin-bottom: 0;
    margin-top: 17px;
    overflow: hidden;
    padding-top: 21px;
    border-top: 1px solid #e5e5e5;
}
.list-style .item .item-inner .images-container {
    float: left;
    width: 26.5%;
}

.list-style .item .item-inner .caption {
    float: left;
    width: 73.5%;
    padding: 0 0 0 15px;
    text-align: left;
}
.list-style .product-name {
	margin-bottom: 5px;
}
.list-style .product-name a {
	font-size: 14px;
}
.list-style .price-box .price {
	font-size: 18px;
}
.list-style .item-inner .caption .ratings {
	margin-bottom: 2px;
}
/*list-module*/
.list-module .module-title {
	text-align: left;
	margin-bottom: 27px;
	margin-top: 90px;
}
.list-module .module-title h2 {
	font-size: 18px;
}
/* module-style1 */

/* module-style2*/
.module-style2 {

}
.module-style2 .module-title {
	display: none;
}
.module-style2 .item-inner .caption .price-box {
	opacity: 1 !important;
}
.module-style2 .ratings {
	display: none;
}
.module-style2 .product-name {
	margin: 0;
}
.module-style2 .product-name a {
	font-size: 14px;
}
.module-style2 .price-box .price {
	font-size: 18px;
}
.module-style2 .price-box p.old-price {
	padding-top: 2px;
}
.module-style2 .grid-style:not(:first-child) {
	margin-top: 25px;
}
/* module-style3 */
.module-style3 {
	padding-top: 95px;
	border-top: 1px solid #e5e5e5;
	margin-top: 90px;
}
.module-style3 .module-title {
	margin-top: 0;
}
/* module-nav2 */
.module-nav2  .owl-carousel.owl-theme .owl-nav {
  position: absolute;
  right: 9px;
  top: -68px;
}
.module-nav2  .owl-carousel.owl-theme .owl-nav div {
	position: relative;
	display: inline-block;
	vertical-align: top;
	opacity: 1;
	top: auto !important;
	left: auto !important;
	right: auto !important;
	margin: 0;
	color: #202226;
	width: 20px;
	height: 25px;
	line-height: 25px;
	border-radius: 0;
	font-weight: normal;
	background: transparent;
}
.module-nav2  .owl-carousel.owl-theme .owl-nav div:hover {
	color: #f07c29;	
}
.module-nav2 .owl-carousel.owl-theme .owl-nav div:before {
	font-size: 20px;
	font-family: "Ionicons";
}
.module-nav2 .owl-carousel.owl-theme .owl-nav div.owl-prev:before {
	content: "\f3cf";
}
.module-nav2 .owl-carousel.owl-theme .owl-nav div.owl-next:before {
	content: "\f3d1";
}

/*--module-footer--*/
.module-footer {

}
.module-footer .module-title {
	margin-top: 0;
	margin-bottom: 25px;
	text-align: left;
}
.module-footer .module-title h2 {
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	padding-bottom: 0;
}
.module-footer .module-title h2:after,.module-footer .module-title h2:before {
	display: none;
}
.module-footer .list-style .item .item-inner {
	padding: 0;
	background: transparent;
}
.module-footer .list-style .item .item-inner .images-container {
	width: 29.63%;
	float: left;
}
.module-footer .list-style .item .item-inner .caption {
	padding-left: 20px;
}
.module-footer .list-style:not(:first-child) {
	margin-top: 20px;
}
.module-footer  .product-name a {
	color: #fff;
}
.module-footer  .product-name a:hover {
	color: #f07c29;
}
.module-footer .price-box .price {
	color: #fff;
}
/* slider-group */
.slider-group {margin-top: 20px;}

/* tabs-category-slider */
.tabs-category-slider {

}
.tabs-category-slider .module-title {
	margin-bottom: 30px;
}
.tabs-category-slider.module-nav2  .owl-carousel.owl-theme .owl-nav {

}
.tabs-category-slider .tabs-categorys {
	z-index: 1;
	display: block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.tabs-category-slider .tabs-categorys li {
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
}
.tabs-category-slider .tabs-categorys li a {
	font-size: 16px;
	color: #333;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 3px;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	display: block;
}
.tabs-category-slider .tabs-categorys li a:after {
	content: "";
	background: #f07c29;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	opacity: 0;
}
.tabs-category-slider .tabs-categorys li:last-child {
	margin:0;
}
.tabs-category-slider .tabs-categorys li a:hover,.tabs-category-slider .tabs-categorys li.active a{
}
.tabs-category-slider .tabs-categorys li.active a:after{
	opacity: 1;
}
/* product-tabs-container-slider */
.product-tabs-container-slider .module-title h2 {
	display: none;
}
.product-tabs-container-slider .tabs-categorys {
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 17px;
}
.product-tabs-container-slider .tabs-categorys li {
	margin-right: 35px;
	float: left;
}
.product-tabs-container-slider .tabs-categorys li a {
	font-size: 14px;
	color: #bbbbbb;
	line-height: 26px;
	
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	
}
.product-tabs-container-slider .tabs-categorys li:last-child {
	margin:0;
}
.product-tabs-container-slider .tabs-categorys li a:hover,.product-tabs-container-slider .tabs-categorys li.active a{
	color: #333333;
}
/* bestseller-products-slider */
.bestseller-products-slider {

}


/* related-products */
.related-products {

}
.related-products .module-title {
	margin-top: 0;
}
/* featured-categories-container */
.featured-categories-container {
	padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin-top: 50px;
}
.featured-categories-container.module-nav2  .owl-carousel.owl-theme .owl-nav {
	right: 0;
}
.featured-categories-container .owl-item.active .item-inner:after {
	content:"";
	width: 1px;
	height: 100%;
	background: #ebebeb;
	top:0;
	right:-15px;
	position: absolute;
}
.featured-categories-container .owl-item.active.last .item-inner:after {
	display:none;
}
.fcategory-content .image {
	display:block;
	border-radius: 2px;
	overflow: hidden;
}
.fcategory-content .image img {
	-webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.fcategory-content .image:hover img {
	-moz-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}
.featured-categories-container .content-thumb .name {
	margin-top: 17px;
}
.featured-categories-container .content-thumb .name a {
	font-size: 15px;
	color: #363f4d;
	display: block;
}
.featured-categories-container .content-thumb .name a:hover {
	color: #f07c29;
}
.sub-featured-categories li a {
	display: block;
	font-size: 13px;
	color: #7a7a7a;
	line-height: 24px;
}
.sub-featured-categories li a:hover {
	color: #f07c29;
	padding-left: 7px;
}
.featured-categories-container .view-more {
	line-height: 29px;
	padding: 0 20px;
	color: #fff;
	text-transform: capitalize;
	background: #363f4d;
	border-radius: 3px;
	display:inline-block;
	vertical-align: top;
	margin-top: 19px;
}
.featured-categories-container .view-more:hover {
	background: #f07c29;
}
/* CountDown */
.occountdown_module .module-title{
	display: none;
}
.text-hurryup {
	display: none;
}
.occountdown_module .text-hurryup {
	display: block;
	font-size: 15px;
	color: #666666;
	position: relative;
	margin-top: 35px;
}
.occountdown_module .text-hurryup:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #eeeeee;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}
.occountdown_module .text-hurryup p {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	background: #fff;
	margin: 0;
	z-index: 2;
	position: relative;
}
.occountdown_module .text-hurryup strong {
	display: block;
	color: #202226;
	font-size: 18px;
	margin-bottom: 2px;
}
.is-countdown {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
}
.countdown-row {

	display: block;
}
.countdown-section {
	float: left;
	margin-right: 20px;
	text-align: center;
	text-transform: capitalize;
	position: relative;
}
.countdown-section:last-child {
	margin-right:0;
}
.countdown-amount {
	display: block;
	font-size: 28px;
	color: #202226;
	position: relative;
	font-weight: 700;
}

.countdown-period {
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #999999;
}
/* testimonial */
/* testimonial */
.testimor-full {
	margin-top: 83px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    padding: 100px 0 70px 0;
    background: url(../image/bkg_testimonial.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonial-container .module-title {
	display: none;
}
.common-home .testimonial-images {
	display: none;
}
.testimonial-content{
}

.testimonial-box {
	padding: 35px 150px;
    padding-bottom: 25px;
}
.testimonial-container .icon {
	display: block;
    text-align: center;
}
.testimonial-container .icon i {
	width: 97px;
    height: 97px;
    line-height: 97px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: url(../image/bkg_icon_testimonial.png) center no-repeat;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.testimonial-box a {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: none;
	color: #fff;
	display: block;
}
.testimonial-author {
	    font-size: 16px;
	    text-transform: uppercase;
	    color: #f07c29;
	    margin: 0;
}

.row-testimonials {
	padding: 20px;
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
	text-align: center;
}
.testimonial-container .owl-carousel.owl-theme .owl-nav div {
	background: transparent;
	color: rgba(255,255,255,0.5);
}
.testimonial-container .owl-carousel.owl-theme .owl-nav div:hover {
	color: #fff;
}
/* corporate */
.ma-corporate-about {
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding: 20px 0;
}

.ma-corporate-about .block-wrapper {
  background: url(../image/wrapper1.png) left center no-repeat;
  padding: 10px 0;
}
.ma-corporate-about .block-wrapper.wrapper2 {
  background: url(../image/wrapper2.png) left center no-repeat;
}
.ma-corporate-about .block-wrapper.wrapper3 {
  background: url(../image/wrapper3.png) left center no-repeat;
}
.ma-corporate-about .block-wrapper.wrapper4 {
  background: url(../image/wrapper4.png) left center no-repeat;
}

.ma-corporate-about .block-wrapper .text-des {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    padding-left: 41px;
}
.ma-corporate-about .block-wrapper .text-des p {
  color: #222;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  display: block;
  margin: 0;
}
.ma-corporate-about .block-wrapper .text-des span {
  color: #909090;
  display: block;
}
/* End Corporate */
.menu-recent {
}
.menu-recent .module-title {
	
}

.menu-recent .row_items .articles-inner:not(:first-child) {
	margin-top:20px;
}
.menu-recent .articles-image {
	position: relative;
}
.menu-recent .aritcles-content {text-align: center;}
.menu-recent .aritcles-content .content-inner {
}
.menu-recent .articles-image a {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 100%;
	width: 100%;
	position: relative;
	border-radius: 2px;
}
.menu-recent .articles-image a img {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.menu-recent .articles-image a:hover img {
	-moz-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}
.articles-name {
	display: block;
	font-size: 22px;
	text-transform: none;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 6px;
	margin-top: 12px;
	margin-bottom: 16px;
	color: #333;
}
.articles-date {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
	width: 54px;
	height: 54px;
	line-height: 1;
	background: #fff;
	display: block;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: 'Open Sans', sans-serif;
}
.articles-date .artice-day {
	display: block;
    padding-top: 6px;
    margin-bottom: 2px;
    font-size: 24px;
    line-height: 1;
}
.articles-date .author-name {display: none;}
.articles-intro p {
	line-height: 24px;
    font-size: 14px;
    padding: 0 0 25px 0;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}
.menu-recent .read-more {
	color: #f07c29;
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-transform: capitalize;
	margin-top: 20px;
	display: none;
}
.menu-recent .read-more:hover {
	text-decoration: underline;
}
.blog-blog .intro-content img,.blog-article .article-description img {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}
.blog-blog .article-list,.blog-article .article-container{
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
}
.article-description p,.intro-content p {
	line-height: 24px;
}
/*----instagram_block_home----*/
#instagram_block_home {
	position: relative;
	margin-top: 60px;
}
#instagram_block_home .title_block {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	-moz-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
#instagram_block_home .title_block h3 {
	background: #fff;
	line-height: 50px;
	padding: 0 40px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
}
#instagram_block_home a.fancybox {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
#instagram_block_home a.fancybox:last-child {
	margin: 0;
}
#instagram_block_home a.fancybox img {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#instagram_block_home a.fancybox:hover img {
	-moz-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}
/* Tweets */
.timeline-Widget {
	background: none;
}
/* brand */
.brand-slider img {
	display:inline-block;
	vertical-align:top;
	opacity: 0.6;
}
.brand-slider img:hover {opacity:1;}
.brand-slider {
	padding: 46px 0;
	text-align: center;
}
/* Social */
.social-full {
	padding: 55px 0;
    background: #f6f6f6;
    margin-top: 100px;
}
.follow label {
	font-size: 18px;
	color: #2d2d2d;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 700;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
ul.link-follow {
  display: inline-block;
  vertical-align: top;
}
ul.link-follow li {
  float: left;
  margin-right: 8px;
  margin-top: 5px;
}
ul.link-follow li:last-child {
  margin-right: 0;
}
ul.link-follow li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  background: #fff;
  border-radius: 100%;
  font-size: 0;
  line-height: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
ul.link-follow li a:before {
  font-size: 18px;
}
ul.link-follow li a span {
  display: none;
}
ul.link-follow li a:hover {
  color: #fff;
  background: #333333;
}
/*twitter*/
#twitter-feed .tweet-title h3 {
  color: #2d2d2d;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0;
}
#twitter-feed .twitter-pic {
	display: none;
}
#twitter-feed .twitter-article {
  position: relative;
  padding-left: 100px;
}
#twitter-feed .twitter-article:before {
  position: absolute;
  content: "\f099";
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  background: #f07c29;
  text-align: center;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* footer */
/* footer */
.common-home footer {
	margin-top: 0;
}
footer{
	margin-top: 60px;
}
.footer-top {
	background: #222222;
	padding: 0 0 6px 0;
}
ul.links-footer {
	display: block;
    padding: 14px 0;
    border-bottom: 2px solid #393939;
    margin-bottom: 47px;
}
ul.links-footer li {
	display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
}
ul.links-footer li:after {
	position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background: #808080;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul.links-footer li:last-child {
	margin: 0;
	padding: 0;
}
ul.links-footer li:last-child:after {
	display: none;
}
ul.links-footer li a {
	line-height: 24px;
    font-size: 13px;
    color: #999999;
    display: block;
    text-transform: capitalize;
}
ul.links-footer li a:hover {
	color: #f07c29;
}
footer .col-footer{
	margin-bottom: 40px;
	position: relative;
}
.col-footer:after {
	position: absolute;
    content: "";
    height: 100%;
    right: 15px;
    top: 0;
    border-right: 1px solid #393939;
}
.col-footer:last-child:after {
	display: none;
}
.footer-title h5{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.footer-content {
	line-height: 30px;
	font-size: 14px;
	color: #999999;
	font-weight: 400;
}
.footer-content .des {
	margin-top: 25px;
	margin-bottom: 35px;
}
.footer-contact p {
	margin: 0;
}
.footer-contact p span {
	color: #fff;
}
.footer-contact p.adress span {
	display: block;
}
.footer-contact .phone:before {
  content: "\f4b9";
}
.footer-contact .email:before {
  content: "\f2eb";
}
.footer-payment {
	display:block;
	margin-top: 33px;
}
.footer-payment label {
	color:#57626f;
	margin-bottom: 10px;
	display: block;
}
footer .list-unstyled.text-content li a:hover{
	color: #f07c29;
	padding-left: 7px;
}
footer .list-unstyled.text-content li a{color: #999;display: block;font-weight: 400;padding: 0;}
.footer-middle {
	background:#232f3e;
}
.footer-middle .container-inner {
	padding: 40px 0;
	border-top: 1px solid rgba(255,255,255,0.05);
}
.tag-static{
	
}
.tag-static li a:first-child{
	padding: 0 15px;
	font-weight: 400;
	color: #fff;
	background:#37475a;
	border-radius: 2px;
	margin-right: 8px;
}
.tag-static li a:first-child:after,.tag-static li a:last-child:after {
	display:none;
}
.tag-static li a {
	line-height: 32px;
	text-transform: capitalize;
	color: #5b697b;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.tag-static li a:after {
	content:"/";
	display: inline-block;
	vertical-align: top;
	margin:0 9px;
	color: #5b697b;
}
.tag-static li a:hover {
	color: #fff;
}

.tag-static li {
	display: block;
	margin-bottom: 8px;
}
.tag-static li:last-child {
	margin-bottom:0;
}
.footer-bottom {
	background: #222222;
}
.footer-bottom .container-inner {
	padding: 25px 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-top: 2px solid #393939;
}
.footer-copyright {
	float: left;
	padding: 5px 0;
}
.footer-copyright p{
	color: #999999;
	font-size: 14px;
	line-height: 20px;
	background: none;
	text-transform: capitalize;
	font-weight: 400;
	margin: 0;
}
.footer-copyright p span {
	display: block;
}
.footer-bottom .footer-copyright a {
	color: #fff;
}
.footer-bottom .footer-copyright a:hover {
	text-decoration: underline;
}
.footer-bottom .payment {
	float: right;
	padding: 7px 0;
}

#back-top i{
	font-size: 18px;
}
#back-top:hover{
	background: #f07c29;
}
#back-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: rgba(35, 47, 62, 0.7);
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	color: #fff;
	display: none;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,.1);
}
/* breadcrumb */
/* .common-home .breadcrumbs {
	display: none;
} */
.breadcrumbs {
	display: block;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	line-height: 25px;
	overflow: hidden;
	margin: 0;
	padding: 12px 0;
	margin-bottom: 60px;
}
.breadcrumb{
	margin: 0;
	background: none;
	text-transform: capitalize;
	padding: 0;
}
.breadcrumb > li + li:before {
	content: "|";
}
.breadcrumb li:before {
	margin: 0 7px;
}
.breadcrumb li a:hover,
.breadcrumb li:last-child a{
	color: #a1a1a1;
}
.breadcrumb li a{
	color: #676767;
	font-size: 13px;
}
/*----------*/
.category-module .li a.active,
.category-module .li a:hover{
	color: #f07c29
}
.category-module .li{
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
}
.category-module .li a{
	text-transform: capitalize;
	display: block;
	line-height: 30px;
}
.category-module > .ul{
	margin: 0;
	padding: 0 20px;
	border: 2px solid #f07c29;
	border-top: 0;
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.category-module .list-child{
	padding-left: 30px;
}
.category-module{
	margin-bottom: 55px;
}
.category-module h3{
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	background: #f07c29;
	font-weight: 900;
	width: 100%;
	padding: 15px 20px;
	margin: 0;
	line-height: 30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/* toolbar */
.text-refine {
	margin-top:0; 
}
.category-image {
	margin-bottom: 22px;
}
.category-image img {
	border: none;
}
#compare-total ,.list-cate{
	padding: 0;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}
.list-cate li {
	padding: 5px 0;
}
.toolbar-products {
	padding: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
}
.toolbar-products.toolbar-bottom {
	margin-bottom:0;
	margin-top: 10px;
	padding-bottom: 0;
	border: 0;
	border-top: 1px solid #ccc;
}
.toolbar-products .modes {
	display:inline-block;
	vertical-align: top;
}
.toolbar-products .toolbar-amount {
	line-height: 32px;
	padding: 15px 0;
	font-size: 14px;
	color: #666666;
	display: inline-block;
	vertical-align: top;
}

.modes button {
	font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    color: #aaaaaa;
    border: none;
    height: 62px;
    line-height: 62px;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
#grid-view {
	background: url(../image/bkg_grid.png) left center no-repeat;
    padding: 0 25px 0 36px;
    margin-right: 30px;
    border-right: 1px solid #ccc;
}
#grid-view:hover,#grid-view.selected {
	background: url(../image/bkg_grid_hover.png) left center no-repeat;
    color: #f07c29;
}
#list-view {
	background: url(../image/bkg_list.png) left center no-repeat;
    padding: 0 0 0 40px;
}
#list-view:hover,#list-view.selected {
	background: url(../image/bkg_list_hover.png) left center no-repeat;
    color: #f07c29;
}
.modes button:hover,.modes button.selected {
	background: #f07c29;
	color: #fff;
}
.toolbar-products .sorter {
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
	padding: 13.5px 0;
}
.toolbar-products .limiter {
	display: inline-block;
	vertical-align: top;
	padding: 13.5px 0;
}
.toolbar-products .sorter label,.toolbar-products .limiter label {
	display:inline-block;
	vertical-align: top;
	line-height: 34px;
	margin: 0 15px 0 0;
	color: #666666;
	font-size: 14px;
}
.toolbar-products .sorter select, .toolbar-products .limiter select {
	padding: 0 5px;
    height: 35px;
    min-width: 95px;
    font-size: 14px;
    color: #908f8f;
    border-radius: 0;
    border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	width: auto;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.toolbar-products .pages {
	display:inline-block;
	vertical-align: top;
	padding: 13.5px 0;
}
.toolbar-products .pages ul {
	margin: 0;
	border-radius:0;
}
.toolbar-products .pages ul li {
	display: inline-block;
	vertical-align: top;
}
.toolbar-products .pages ul li a {
	color: #202226;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	width: 32px;
	border-radius: 0;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: none;
	background: #fff;
}
.toolbar-products .pages ul li span {
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 0 4px;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background: none;
}
.toolbar-products .pages ul li.active span,.toolbar-products .pages ul li:hover a {
	color: #f07c29;
	background: none;
}
/* category */
.category-img {
	display: block;
	margin-bottom: 20px;
	border-radius: 3px;
	overflow: hidden;
}
.category-img img {
	border: none;
}
.custom-products {
	border-right: 0;
	border-bottom: 0;
	display: inline-block;
	vertical-align:top;
	width: 100%;
}
.custom-products .product-grid {
	margin-bottom: 35px;
	margin-top: 0;
}


.category-info .box-image {
	position: relative;
	text-align: center;
}
.category-name {
	display: inline-block;
	vertical-align: top;
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 400;
	margin: 0;
	position: relative;
	font-family: 'Rufina', serif;
	padding-bottom: 12px;
	border-bottom: 3px solid #f07c29;
	margin-bottom: 23px;
	line-height: 1;
}

.category-name.ifthumb {
	position: absolute;
	color: #fff;
	
	left: 0;
	right: 0;
	margin:auto;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.product-grid .product-des {
	display: none;
}
.product-grid .item {
}
.product-list {margin-bottom: 30px;padding: 0 15px;}
.product-list .col-image, .product-list .col-des {
	padding: 0;
}
.product-list .caption {
	text-align: left;
	padding: 0 0 0 30px;
}
.product-list .product-name {
	margin-bottom: 8px;
}
.product-list .product-name a {font-size: 24px;}
.product-list .item-inner .caption .price-box {
	margin-top: 7px;
}
.product-list .product-des {
	line-height: 24px;
	padding: 20px 0;
	margin-bottom: 7px;
	font-size: 15px;
	color: #707070;
}
.product-list .item-inner .caption .action-links {
	display: block;
	padding-top: 15px;
	border-top: 1px solid #ccc;
    margin-top: 15px;
}
.product-list .item-inner .action-links .add-to-links {
	float: right;
}
/* product detail */
.product-quickview .product-info-main .product-name {
	font-size: 30px;
}
.product-quickview .product-info-main .button-cart {
	min-width: auto;
}
.product-quickview .zoomContainer .zoomLens {
	display: none !important;
}
.product-quickview .thumbnails {
	pointer-events: none;
}
.thumbnail, .img-thumbnail {
	-webkit-box-shadow:none;
	box-shadow: none;
	padding:0;
	border-radius:0;
	border: 0;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #ddd;
}
.zoomContainer {
    top: 0px !important;
    left: 15px !important;
    right: 0px;
    bottom: 0px;
    width: 100% !important;
}
.zoomContainer .zoomLens {
    width: 100px !important;
    height: 100px !important;
}
.zoomContainer .zoomWindowContainer .zoomWindow {
    margin-left: 15px;
    border-color: #f07c29 !important;
}
.image-additional-container {
}
.image-additional-container .thumbnail{
	margin: 0;
	border: 1px solid #edecec;
}
.image-additional-container .thumbnail:hover,.image-additional-container .thumbnail.current-additional {
	border-color: #f07c29;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-top: -18px;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div.owl-prev {
	opacity: 1;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div.owl-next {
	opacity: 1;
}
#product-product .column-main {
	background: #fff;
	padding: 10px;
}
.product-info-main .product-name {
	font-size: 36px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 23px 0 10px 0;
	font-family: 'Rufina', serif;
	margin-top: 0;
}
.product-info-main .price-box {
	display:block;
	margin-top: 10px;
}
.product-info-main .price-box .price {font-size: 28px;}
.product-info-main .price-box p.old-price .price {
	font-size: 24px;
}
.product-info-main .price-box p.old-price {
	padding-top: 5px;
}
.product-info-main .ratings {
	margin: 15px 0 0 0;
	padding: 14px 0 7px 0;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.product-info-main .short-des {
	line-height: 24px;
	padding: 25px 0;
	margin-top: 20px;
	color: #666666;
	font-size: 16px;
	border-top: 1px solid #ededed;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    height: 50px;
    box-shadow: none;
    font-weight: 400;
    text-align: center;
    width: 35px;
    font-size: 14px;
    border-radius: 0px;
    border: none;
    padding: 0;
    color: #fff;
    background: #333333;
    float: left;
}
#input-quantity2:hover, #minus2:hover, #plus2:hover,
#input-quantity:hover, #minus:hover, #plus:hover {
	background: #f07c29;
}
#input-quantity2,
#input-quantity {
    width: 50px;
    min-width: auto;
    margin: 0 1px;
}
.product-info-main .form-group {
	display:inline-block;
	vertical-align: top;
	width: 100%;
}
label[for='input-quantity']{
	float: left;
	line-height: 40px;
	margin-right: 30px;
	margin-bottom: 0;
	color: #202226;
	font-size: 16px;
	font-weight: 700;
	display: none;
}
.product-info-main .button-cart{
	margin-top: 8px;
	/* clear: both; */
	font-size: 14px;
	line-height: 50px;
	padding: 0 28px;
	background: #333;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
}
.product-info-main .button-cart:hover {
	background: #f07c29;
}
.product-info-main button.btn-wishlist {
	clear: left;
	margin-right: 5px;
}
.product-info-main button.btn-wishlist,.product-info-main button.btn-compare {
	float: left;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	font-size: 0;
	color: #fff;
	background: #333;
	border-radius: 0;
	line-height: 50px;
	padding: 0;
	box-shadow: none;
}
.product-info-main button.btn-wishlist:before,.product-info-main button.btn-compare:before {
}
.product-info-main button.btn-wishlist:hover,.product-info-main button.btn-compare:hover {
	color: #fff;
	background: #f07c29;
}
#product2.has-option,
#product.has-option{
	max-height: 300px;
	overflow: auto;
	border: 1px solid #e1e1e1;
	padding: 20px;
}
#product + div{
	margin: 20px 0;
}
.quantity-box {
	float: left;
	border: 0;
	margin-right: 4px;
}
.product-info-main label[for='input-quantity'], .product-info-main .quantity-box {
	margin-top: 8px;
}
.product-info-main .box-options {
	margin-top: 10px;
	padding: 10px 0;
	font-size: 16px;
	color: #666666;
}
.product-info-main ul.list-unstyled {
	 
}
.product-info-main ul.list-unstyled li {
	display: block;
	line-height: 24px;
}
.product-info-main ul.list-unstyled li span,.product-info-main ul.list-unstyled li a {
	color: #f07c29;
}
.product-info-main ul.list-unstyled li a:hover {
	text-decoration: underline;
}

.product-info-detailed {
	margin-top: 60px;
}
.product-info-detailed .nav-tabs {
	margin-bottom: 0;
	border-bottom: 0;
	text-align: left;
}
.product-info-detailed .nav-tabs li {
	margin-bottom: 0;
	position: relative;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.product-info-detailed .nav-tabs li:last-child {
	margin-right:0;
}

.product-info-detailed .nav-tabs li a {
	font-size: 16px;
	color: #333333 !important;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 0;
	border: none !important;
	padding: 7px 0;
	margin: 0;
	background: none !important;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.product-info-detailed .nav-tabs li a:before {
	content: "";
	width: 100%;
	background: #f07c29;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-info-detailed .nav-tabs li.active a:before {
	opacity: 1;
}
.product-info-detailed .nav-tabs li a:hover {
	background: none;
	color: #f07c29 !important;
}
.product-info-detailed .tab-content {
	line-height: 28px;
	padding: 30px 0;
	background: #fff;
	color: #666;
	font-size: 16px;
}
#tab-description p {
	margin:0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
#map-canvas{
	min-height: 400px;
	margin: 20px 0;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}



#content{
	min-height: 300px;
}
#content > h1 {
	margin-top: 0;
}
#cart .dropdown-menu {
    margin: 0;
    padding: 10px 20px 0 20px !important;
    width: 290px;
    right: -15px;
    list-style: none none;
    border: 0;
    background: #fff;
    margin-top: 11px;
    box-sizing: border-box;
    top: 100%;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
}
#cart .dropdown-menu:after,#cart .dropdown-menu:before {
	border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#cart .dropdown-menu:before {
	border: 7px solid;
	border-color: transparent transparent #fff transparent;
	z-index: 99;
	right: 26px;
	top: -12px;
	opacity: 0;
}
#cart .dropdown-menu:after {
	border: 8px solid;
	border-color: transparent transparent #fff transparent;
	z-index: 98;
	right: 25px;
	top: -15px;
}
#cart .cart-close {
	position: absolute;
	bottom: 20px;
	right: 0;
	font-weight: 400;
}
#cart .cart-empty{
	padding-bottom: 25px;
	padding-top: 15px; 
}
#cart .dropdown-menu p{
	margin: 0;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr > td{
	border: 0;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	display: block;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
	color: #333333;
}
#cart .cart-close button{
	background: none;
	color: #000000;
	border: 1px solid #000;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#cart .cart-close button:hover {
	color: #f07c29;
	border-color: #f07c29;
}
#cart .cart-close button i { line-height: inherit;}
#cart .cart-quantity{
	color: #bfbfbf;
	line-height: 20px;
	display: block;
	padding: 5px 0;
	font-size: 12px;
}
#cart .cart-price {
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	padding-top: 2px;
	display: block;
}
#cart .cart-name {
	color: #363f4d;
	font-size: 14px;
	line-height: 18px;
	display: block;
}
#cart .cart-name:hover {
	color: #f07c29;
}
#cart .cart-button{padding-bottom: 15px;}
#cart p.cart-button a:last-child{margin-right: 0;}
#cart p.cart-button a{
	border: none;
	background: #333333;
	color: #fff;
	line-height: 40px;
	text-align: center;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin: 5px 0;
	margin-right: 10px;
	border-radius: 3px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
}
#cart p.cart-button a strong {
	font-weight: 400;
}
#cart p.cart-button a:hover{
	color: #fff;
	background: #f07c29;
	border-color: #f07c29;
}
#cart p.cart-button a:hover i{
	color: #fff;
}
#cart p.cart-button a i{
	padding-left: 5px;
	font-size: 10px;
	display: none;
}
#cart .dropdown-menu .info-item{
	padding-left: 10px;
}
#cart .dropdown-menu .has-scroll{
	max-height: 270px;
	overflow: auto;
	padding: 0 20px;
	margin: 0 -20px;
}


#cart .dropdown-menu tr td strong{
	color: #232323;
	font-weight: 500;
	float: left;
	padding: 2px 0;
	font-size: 12px;
	text-transform: uppercase;
}
#cart .dropdown-menu tr td:last-child{
	color: #333333;
}
.fluid-width > .container{
	width: auto;
	padding: 0 75px;
}
.fluid-width2 {
	background: #fff;
	margin-top: 60px;
}
/* responsive */



@media(max-width: 1199px){

}

@media(max-width: 991px){
	.col-order {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	.col-order #content {
	    -webkit-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	    float: none;
	    
	}
	.col-order #column-left {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	    float: none;
	    
	}
	#column-left,#column-right {
		margin-top: 30px;
	}
	#top {
		text-align: center;
	}
	#top .box-left {
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#top .box-right {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	#search .search-content {
	}
	.header-inner {
		text-align: center;
		z-index: 8;
	}
	.top-menu {
		z-index: 7;
	}
	.logo-container {
		float: none;
		display: block;
		text-align: center;
	}
	.top-search,.box-cart {
		position: relative;
		z-index: 2;
		padding: 0;
		margin-bottom: 30px;
		-moz-transform:  translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.box-cart {
		display: inline-block;
		vertical-align: top;
		z-index: 1;
	}
	#search,#search input {
		width: 100%;
		display: block;
	}
	.module-title {
		margin-top: 55px;
	}
	.related-products .module-title {
		margin-top: 40px;
	}
	.static-top-skybook1 {
		margin-top: 47px;
	}
	.static-top-skybook1 .image a .text .text1 {
		font-size: 16px;
	  }
	  .static-top-skybook1 .image a .text .text2 {
		font-size: 20px;
		margin-right: -170px;
	  }
	.bestseller-group {
		margin-top: 60px;
	}
	.static-author-best {
		margin-bottom: 60px;
		overflow: hidden;
	}
	.module-style3 {
		padding-top: 55px;
		margin-top: 50px;
	}
	.background-full {
		margin-top: 48px;
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.list-module .module-title {
		margin-top: 50px;
	}
	.newletter-subscribe-container {
		margin-top: 100px;
	}
	.testimor-full {
		margin-top: 60px;
		padding-top: 60px;
		padding-bottom: 47px;
	}
	.social-full {
		margin-top: 60px;
	}
	#twitter-feed {
	    margin-bottom: 30px;
	}
	#search-by-category .search-container #text-search {
		padding-left: 15px;
	}
	.col-footer:nth-child(3) {
		clear: left;
	}
	.ma-corporate-about .col:nth-child(3) {
		clear: left;
	}
	footer {
		margin-top: 60px;
	}
	
	.newletter-popup,
	.b-modal{
		display: none !important;
	}
	.zoomContainer,
	.vermagemenu-container,
	#search-by-category .search-container .categories-container{
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.countdown-amount {
		font-size: 20px;
	}
}
@media(min-width: 768px) {
	.toolbar-products .modes {
		float: left;
		margin-right: 20px;
	}
	.toolbar-products .sorter,.toolbar-products .limiter ,.toolbar-products .pages {
		float: right;
	}
	
	.toolbar-products .toolbar-amount {
		float: left;
	}
}
@media(max-width: 767px){
	
	.link-compare {
		text-align: center;
	}
	
	.footer-bottom .follow {
		float: none;
		margin-top:	10px;
		display: block;
		text-align: center;
		
	}
	.footer-bottom .footer-copyright {
		float: none;
		display: block;
		text-align: center;
		max-width: none;
		line-height: 1.2;
	}
	.footer-bottom .payment {
		float: none;
		display: block;
		text-align: center;
	}
	.testimonial-box {
		padding-left: 0;
		padding-right: 0;
	}
	.product-info-main .product-name {
		margin-top: 30px;
	}
}
@media(max-width: 640px){ 
	.tt_tabsproduct_module .tabs-categorys {
	}
}
@media(max-width: 567px){ 
	.product-info-detailed .nav-tabs li {
		float: none;
		margin: 0;
		display: block;
		border-bottom: 1px solid #ebebeb;
	}
	.product-info-detailed .nav-tabs li:last-child {
		border-bottom:0;
	}
	.product-info-detailed .nav-tabs li:not(:first-child):before {
		display: none;
	}
	.static-author-best .col-des {
		float: none;
		width: 100%;
		padding: 0;
	}
	.static-author-best .col-image {
		width: 100%;
		padding: 0;
		text-align: center;
		margin-top: 30px;
	}
}

@media(max-width: 479px){

	#cart .dropdown-menu {
		right:0;
	}
	#cart .dropdown-menu::before {
		right: 41px;
	}
	#cart .dropdown-menu::after {
		right: 40px;
	}

	#top #form-language .btn-group .dropdown-menu
	 {
		left: -30px;
	}
	
	.static-top-skybook1 .image a .text .text1 {
		font-size: 10px;
		margin-bottom: 3px;
	  }
	  .static-top-skybook1 .image a .text .text2 {
		font-size: 12px;
		margin-right: 0;
	  }
		.box-cart .links {
			margin-right: 25px;
		}
		.tabs-category-slider .tabs-categorys li {
			margin: 0;
			padding: 5px 10px;
		}
}
/*Fix products-grid */
@media (min-width: 1200px){
	.custom-products .product-grid.category:nth-child(4n+1),
	.custom-products .product-grid.three-items:nth-child(3n+1),
	.custom-products .product-grid.four-items:nth-child(4n+1),
	.custom-products .product-grid.two-items:nth-child(2n+1)
	{  clear: left;} 

}
@media (max-width: 1199px) and (min-width: 992px){
	.custom-products .product-grid.category:nth-child(3n+1),
	.custom-products .product-grid.three-items:nth-child(3n+1), 
	.custom-products .product-grid.four-items:nth-child(4n+1),
	.custom-products .product-grid.two-items:nth-child(2n+1)
	{clear: left;}

}

@media (max-width: 991px) and (min-width: 481px){
	.custom-products .product-grid:nth-child(2n+1) {clear: left;}

}

@media (max-width: 480px) and (min-width: 0px){
	.custom-products .product-grid:nth-child(1n+1) {clear: left;}
	.custom-products .product-grid{width: 100%;}  

}
/*Fix products-no-slider */
@media (min-width: 768px) {
	.six_items:nth-child(6n+1),
	.four_items:nth-child(4n+1),
	.three_items:nth-child(3n+1),
	.two_items:nth-child(2n+1)
	{  clear: left;} 
}