{% extends 'base.html' %}
{% load static %}
{% block title %}Thrive | Login{% endblock %}
{% block content %}
<div id="affiliate-login" class="container">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="">Account</a></li>
			<li><a href="">Login</a></li>
		</ul>	
	<div class="row">
		<div id="content" class="col-sm-12">
				<div class="row">
				<div class="col-sm-6">
					<div class="well">
						<h2>Register Here</h2>
						<p>
							<p>I am not currently a customer.</p>
							<p>Click Continue below to create a customer account.</p>
						</p>
						<a class="btn btn-primary" href="{% url 'store:registeration' %}">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well">
						<h2>Login</h2>
						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group">
								<label class="control-label" for="input-email">E-Mail</label>
								<input type="text" name="{{ login_form.email.name }}" value="" placeholder="Enter E-Mail"
									id="input-email" class="form-control" required/>
							</div>
							<div class="form-group">
								<label class="control-label" for="input-password">Password</label>
								<input type="password" name="{{ login_form.password.name }}" value="" placeholder="Enter Password"
									id="input-password" class="form-control" required/><br>
								<a href="">Forgot Password</a>
							</div>
							<input type="submit" value="Login" class="btn btn-primary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
