{% extends 'base.html' %}
{% load static %}
{% block title %}Thrive | Register{% endblock %}

{% block content %}
<div id="affiliate-login" class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'store:login' %}">Login</a></li>
    </ul>	
</div>
<div class="main-row">
    <div class="container">
        <div class="row">
            <div class="main-col col-sm-12 col-md-12">
                <div class="row sub-row">
                    <div">
                        <div class="col-lg-6 col-offset-2">
                            <div class="well">
                                <form action="" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-group">
										<label class="control-label" for="input-email">E-Mail</label>
										<input type="email" name="{{ registration_form.email.name }}" value="" placeholder="Enter E-Mail"
											id="input-email" class="form-control" required/>
									</div>
                                    <div class="form-group">
										<label class="control-label" for="input-name">Full Name</label>
										<input type="text" name="{{ registration_form.name.name }}" value="" placeholder="Enter Fullname"
											id="input-text" class="form-control" required/>
                                    </div>
                                    <div class="form-group">
										<label class="control-label" for="input-telephone">Phone Number</label>
										<input type="text" name="{{ registration_form.telephone.name }}" value="" placeholder="Telephone Number"
											id="input-text" class="form-control" required/>
                                    </div>
									<div class="form-group">
										<label class="control-label" for="input-password">Password</label>
										<input type="password" name="{{ registration_form.password1.name }}" value="" placeholder="Password"
											id="input-password" class="form-control" required/>
                                    </div>
                                    <div class="form-group">
										<label class="control-label" for="input-password">Re-Enter Password</label>
										<input type="password" name="{{ registration_form.password2.name }}" value="" placeholder="Re-Type Password"
											id="input-password" class="form-control" required/>
                                    </div>

									<input type="submit" value="Register" class="btn btn-primary" />
									<input type="hidden" name="redirect"
										value="" />
								</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}