{% extends 'base.html' %}
{% load static %}
{% block title %}All Books{% endblock %}
{% block content %}
<div class="container layer-category">
	<div class="layered-navigation-block"></div>
	<!-- <div class="ajax-loader">
		<img src="{% static 'image/catalog/AjaxLoader.gif' %}" alt="" />
	</div> -->

	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="">Audiobooks</a></li>
	</ul>
	<div class="row">
		<div class="col-order">

			<div id="content" class="col-md-9 col-sm-12">
				<div class="category-info">
					<h1 class="category-name">Audiobooks</h1>

				</div>
				<h3 class="text-refine">Refine Search</h3>
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-cate">
							<li><a
									href="index3de7.html?route=product/category&amp;path=234&amp;sort=p.model&amp;order=DESC">Bags
									(4)</a></li>
							<li><a
									href="indexee32.html?route=product/category&amp;path=229&amp;sort=p.model&amp;order=DESC">Bottoms
									(4)</a></li>
						</ul>
					</div>
				</div>
				<div class="custom-category">
					<!-- <div><a href="index6431.html?route=product/compare" id="compare-total">Product Compare
							(0)</a></div> -->

					<div class="toolbar toolbar-products">
						<div class="modes">
							<div class="btn-group">
								<button type="button" id="grid-view" class="btn">Grid</button>
								<button type="button" id="list-view" class="btn">List</button>
							</div>
						</div>
						<div class="toolbar-amount">
							<span>Showing 1 to 12 of 14 (2 Pages)</span>
						</div>
					</div>
					<div class="custom-products">
						<div class="row">
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item1">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/9-600x770.jpg' %}"
															alt="Voyage Yoga Bags" title="Voyage Yoga Bags"
															class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index0255.html?route=product/product&amp;path=228&amp;product_id=103&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Voyage
															Yoga Bags</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$242.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$200.00</span></p>
													</div>

													<p class="product-des">Imagine the advantages of going big
														without slowing down. The big 19&quot; 941BW monitor
														combines wide aspect ratio with fast pixel response
														time, for bigger images, more room to work and crisp
														motion. In addition, the exclusive MagicBright 2,
														MagicColor and MagicTune technologies help deliver the
														i..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('103', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('103');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('103');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item2">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/8-600x770.jpg' %}"
															alt="Vargus All-Weather Tanks"
															title="Vargus All-Weather Tanks" class="img-responsive" />
													</a>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index9c46.html?route=product/product&amp;path=228&amp;product_id=86&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Vargus
															All-Weather Tanks</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$122.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$100.00</span></p>
													</div>

													<p class="product-des">The 30-inch Apple Cinema HD Display
														delivers an amazing 2560 x 1600 pixel resolution.
														Designed specifically for the creative professional,
														this display provides more space for easier access to
														all the tools and palettes needed to edit, format and
														composite your work. Combine this display with a Mac ..
													</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('86', '2')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('86');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('86');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item3">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/4-600x770.jpg' %}"
															alt="Rival Field Messengers" title="Rival Field Messengers"
															class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index0adc.html?route=product/product&amp;path=228&amp;product_id=99&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Rival
															Field Messengers</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$1,202.00</span>
														</p>
														<p class="price-tax"><span class="price">Ex Tax:
																$1,000.00</span></p>
													</div>

													<p class="product-des">MacBook Air is ultrathin,
														ultraportable, and ultra unlike anything else. But you
														don&rsquo;t lose inches and pounds overnight. It&rsquo;s
														the result of rethinking conventions. Of multiple
														wireless innovations. And of breakthrough design. With
														MacBook Air, mobile computing suddenly has a new
														standard..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('99', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('99');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('99');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item4">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/3-600x770.jpg' %}"
															alt="Radiant Tees" title="Radiant Tees"
															class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index83b9.html?route=product/product&amp;path=228&amp;product_id=98&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="indexe69c.html?route=product/manufacturer/info&amp;manufacturer_id=7">Hewlett-Packard</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Radiant
															Tees</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$241.99</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$199.99</span></p>
													</div>

													<p class="product-des">Samsung Galaxy Tab 10.1, is the
														world&rsquo;s thinnest tablet, measuring 8.6 mm
														thickness, running with Android 3.0 Honeycomb OS on a
														1GHz dual-core Tegra 2 processor, similar to its younger
														brother Samsung Galaxy Tab 8.9.

														Samsung Galaxy Tab 10.1 gives pure Android 3.0
														experience, adding its new..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('98', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('98');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('98');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item5">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/2-600x770.jpg' %}"
															alt="Maxima Drawstring Shorts"
															title="Maxima Drawstring Shorts" class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index7ace.html?route=product/product&amp;path=228&amp;product_id=97&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Maxima
															Drawstring Shorts</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$602.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$500.00</span></p>
													</div>

													<p class="product-des">Intel Core 2 Duo processor

														Powered by an Intel Core 2 Duo processor at speeds up to
														2.16GHz, the new MacBook is the fastest ever.

														1GB memory, larger hard drives

														The new MacBook now comes with 1GB of memory standard
														and larger hard drives for the entire line perfect for
														running more..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('97', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('97');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('97');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item6">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/17-600x770.jpg' %}"
															alt="Joust Duffle Bags" title="Joust Duffle Bags"
															class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index22ed.html?route=product/product&amp;path=228&amp;product_id=95&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Joust
															Duffle Bags</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$104.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$85.00</span></p>
													</div>

													<p class="product-des">Born to be worn.

														Clip on the worlds most wearable music player and take
														up to 240 songs with you anywhere. Choose from five
														colors including four new hues to make your musical
														fashion statement.

														Random meets rhythm.

														With iTunes autofill, iPod shuffle can deliver a new
														musical exper..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('95', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('95');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('95');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item7">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/16-600x770.jpg' %}"
															alt="Fusion Backpacks" title="Fusion Backpacks"
															class="img-responsive" />
													</a>
													<div class="label-product label_new">New</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index52e2.html?route=product/product&amp;path=228&amp;product_id=94&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating4">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Fusion
															Backpacks</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$98.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$80.00</span></p>
													</div>

													<p class="product-des">Video in your pocket.

														Its the small iPod with one very big idea: video. The
														worlds most popular music player now lets you enjoy
														movies, TV shows, and more on a two-inch display thats
														65% brighter than before.

														Cover Flow.

														Browse through your music collection by flipping through
														albu..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('94', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('94');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('94');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item8">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/15-600x770.jpg' %}"
															alt="Endeavor Daytrip Backpacks"
															title="Endeavor Daytrip Backpacks" class="img-responsive" />
													</a>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('indexdb8c.html?route=product/product&amp;path=228&amp;product_id=93&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating3">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Endeavor
															Daytrip Backpacks</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$98.00</span></p>
														<p class="price-tax"><span class="price">Ex Tax:
																$80.00</span></p>
													</div>

													<p class="product-des">More room to move.

														With 80GB or 160GB of storage and up to 40 hours of
														battery life, the new iPod classic lets you enjoy up to
														40,000 songs or up to 200 hours of video or any
														combination wherever you go.

														Cover Flow.

														Browse through your music collection by flipping through
														alb..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('93', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('93');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('93');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item9">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/14-600x770.jpg' %}"
															alt="Driven Backpacks" title="Driven Backpacks"
															class="img-responsive" />
													</a>
													<div class="label-product label_sale">Sales off</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index5809.html?route=product/product&amp;path=228&amp;product_id=92&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating2">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Driven
															Backpacks</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="special-price"><span class="price">$86.00</span></p>
														<p class="old-price"><span class="price">$92.00</span>
														</p>
														<p class="price-tax"><span class="price">Ex Tax:
																$70.00</span></p>
													</div>

													<p class="product-des">iPhone is a revolutionary new mobile
														phone that allows you to make a call by simply tapping a
														name or number in your address book, a favorites list,
														or a call log. It also automatically syncs all your
														contacts from a PC, Mac, or Internet service. And it
														lets you select and listen to voicemail messag..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('92', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('92');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('92');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item10">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/13-600x770.jpg' %}"
															alt="Crown Summit Backpacks" title="Crown Summit Backpacks"
															class="img-responsive" />
													</a>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('indexab40.html?route=product/product&amp;path=228&amp;product_id=91&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index8be0.html?route=product/manufacturer/info&amp;manufacturer_id=10">Sony</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating1">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Crown
															Summit Backpacks</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="regular-price"><span class="price">$1,202.00</span>
														</p>
														<p class="price-tax"><span class="price">Ex Tax:
																$1,000.00</span></p>
													</div>

													<p class="product-des">Unprecedented power. The next
														generation of processing technology has arrived. Built
														into the newest VAIO notebooks lies Intel&#39;s latest,
														most powerful innovation yet: Intel&reg; Centrino&reg; 2
														processor technology. Boasting incredible speed,
														expanded wireless connectivity, enhanced multimedia s..
													</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('91', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('91');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('91');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item11">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/12-600x770.jpg' %}"
															alt="Compete Track Totes" title="Compete Track Totes"
															class="img-responsive" />
													</a>
													<div class="label-product label_sale">Sales off</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index063a.html?route=product/product&amp;path=228&amp;product_id=90&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating5">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Compete
															Track Totes</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="special-price"><span class="price">$80.00</span></p>
														<p class="old-price"><span class="price">$86.00</span>
														</p>
														<p class="price-tax"><span class="price">Ex Tax:
																$65.00</span></p>
													</div>

													<p class="product-des">Just when you thought iMac had
														everything, now there´s even more. More powerful Intel
														Core 2 Duo processors. And more memory standard. Combine
														this with Mac OS X Leopard and iLife ´08, and it´s more
														all-in-one than ever. iMac packs amazing performance
														into a stunningly slim space...</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('90', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('90');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('90');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="product-layout product-list">
								<div class="product-thumb">
									<div class="item item12">
										<div class="item-inner">
											<div class="col-image">
												<div class="image images-container">
													<a href="{% url 'store:book_detail' %}"
														class="product-image">
														<img src="{% static 'image/cache/catalog/product/Book/11-600x770.jpg' %}"
															alt="Chaz Kangeroo Hoodies" title="Chaz Kangeroo Hoodies"
															class="img-responsive" />
													</a>
													<div class="label-product label_sale">Sales off</div>
													<button class="button btn-quickview" type="button"
														title="Quick View"
														onclick="ocquickview.ajaxView('index97c9.html?route=product/product&amp;path=228&amp;product_id=89&amp;sort=p.model&amp;order=DESC')"><span>Quick
															View</span></button>

												</div>
											</div>
											<div class="col-des">
												<div class="caption">
													<p class="manufacture-product">
														<a
															href="index54e6.html?route=product/manufacturer/info&amp;manufacturer_id=5">HTC</a>
													</p>

													<div class="ratings">
														<div class="rating-box">
															<div class="rating4">rating</div>
														</div>
													</div>
													<h4 class="product-name"><a
															href="{% url 'store:book_detail' %}">Chaz
															Kangeroo Hoodies</a></h4>
													<div class="price-box">
														<label>Price:</label>
														<p class="special-price"><span class="price">$78.80</span></p>
														<p class="old-price"><span class="price">$80.00</span>
														</p>
														<p class="price-tax"><span class="price">Ex Tax:
																$64.00</span></p>
													</div>

													<p class="product-des">HTC Touch - in High Definition. Watch
														music videos and streaming content in awe-inspiring high
														definition clarity for a mobile experience you never
														thought possible. Seductively sleek, the HTC Touch HD
														provides the next generation of mobile functionality,
														all at a simple touch. Fully integrated with..</p>

													<!-- <div class="action-links">
														<button class="button btn-cart" type="button"
															title="Add to Cart" onclick="cart.add('89', '1')"><span>Add
																to
																Cart</span></button>
														<div class="add-to-links">
															<button class="button btn-wishlist" type="button"
																title="Add to Wish List"
																onclick="wishlist.add('89');"><span>Add to Wish
																	List</span></button>
															<button class="button btn-compare" type="button"
																title="Compare this Product"
																onclick="compare.add('89');"><span>Compare this
																	Product</span></button>

														</div>
													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="toolbar toolbar-products toolbar-bottom">
						<div class="toolbar-amount"><span>Showing 1 to 12 of 14 (2 Pages)</span></div>
						<div class="pages">
							<ul class="pagination">
								<li class="active"><span>1</span></li>
								<li><a
										href="index00dd.json?route=extension/module/oclayerednavigation/category&amp;path=228&amp;sort=p.model&amp;order=DESC&amp;page=2">2</a>
								</li>
								<li><a
										href="index00dd.json?route=extension/module/oclayerednavigation/category&amp;path=228&amp;sort=p.model&amp;order=DESC&amp;page=2">&gt;</a>
								</li>
								<li><a
										href="index00dd.json?route=extension/module/oclayerednavigation/category&amp;path=228&amp;sort=p.model&amp;order=DESC&amp;page=2">&gt;|</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}