{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
		<div id="product-product" class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="">Endeavor Daytrip Backpacks</a></li>
			</ul>
			<div class="row">
				<div id="content" class="col-sm-12">
					<div class="column-main">
						<div class="row">
							<div class="col-md-4 col-sm-6 block-1 owl-style2">
								<div class="thumbnails">
									<a class="thumbnail" title="Endeavor Daytrip Backpacks">
										<img data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/15-600x770.jpg"
											src="{% static 'image/cache/catalog/product/Book/15-600x770.jpg' %}"
											title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
									</a>
								</div>
								<div class="image-additional-container owl-style3">
									<div id="gallery_01" class="thumbnails-additional owl-carousel owl-theme">
										<a style="display: none" href="#" class="thumbnail current-additional"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/15-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/15-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/15-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
										<a style="display: none" href="#" class="thumbnail"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/11-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/11-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/11-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
										<a style="display: none" href="#" class="thumbnail"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/10-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/10-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/10-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
										<a style="display: none" href="#" class="thumbnail"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/1-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/1-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/1-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
										<a style="display: none" href="#" class="thumbnail"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/16-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/16-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/16-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
										<a style="display: none" href="#" class="thumbnail"
											data-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/3-600x770.jpg"
											data-zoom-image="http://demo.towerthemes.com/tt_koparion/image/cache/catalog/product/Book/3-600x770.jpg"
											title="Endeavor Daytrip Backpacks">
											<img src="{% static 'image/cache/catalog/product/Book/3-600x770.jpg' %}"
												title="Endeavor Daytrip Backpacks" alt="Endeavor Daytrip Backpacks" />
										</a>
									</div>
								</div>
							</div><!-- block-1 -->
							<div class="col-md-5 col-sm-6 block-2 product-info-main">
								<!--h1 class="heading-title">detail product</h1-->
								<h1 class="product-name">Endeavor Daytrip Backpacks</h1>
								<div class="ratings">
									<div class="rating-box">
										<div class="rating3">rating</div>
									</div>
									<a class="review-count" href="#"
										onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.block-2 .nav-tabs').offset().top}, 800); return false;">1
										reviews</a><a href="#"
										onclick="$('a[href=\'#tab-write-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.block-3 .nav-tabs').offset().top}, 800); return false;">Write
										a review</a>
								</div>
								<div class="price-box box-regular">
									<span class="regular-price">
										<span class="price">$98.00</span>
									</span>
								</div>



								<div class="box-options">
									<ul class="list-unstyled">
										<li>Ex Tax:<span class="ex-text">$80.00</span></li>
									</ul>
									<ul class="list-unstyled">
										<li>Brands <a
												href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8"><span
													class="ex-text">Apple</span></a></li>
										<li>Product Code: <span class="ex-text">Book</span></li>
										<li>Availability: <span class="ex-text">In Stock</span></li>
									</ul>
								</div>
								<div class="short-des">More room to move.

									With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod
									classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any
									combination wherever you go.

									Cover Flow.

									Browse through your music collection by flipping through alb..</div>
								<div id="product">
									<div class="form-group">
										<label class="control-label" for="input-quantity">Qty</label>
										<div class="quantity-box">
											<input type="button" id="minus" value="-" class="form-control" />
											<input type="text" name="quantity" value="1" size="2" id="input-quantity"
												class="form-control" />
											<input type="button" id="plus" value="&#43;" class="form-control" />
										</div>
										<input type="hidden" name="product_id" value="93" />
										<button type="button" class="button button-cart btn" id="button-cart"
											data-loading-text="Loading..." value="">Add to Cart</button>
										<!-- <button class="button btn-wishlist btn btn-default" type="button"
											title="Add to Wish List" onclick="wishlist.add('93');"><span>Add to Wish
												List</span></button>
										<button class="button btn-compare btn btn-default" type="button"
											title="Compare this Product" onclick="compare.add('93');">Compare this
											Product</button> -->
									</div>
								</div><!-- #product -->
								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style"
									data-url="index1d1e.html?route=product/product&amp;product_id=93"><a
										class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a
										class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a>
									<a class="addthis_counter addthis_pill_style"></a></div>
								<script type="text/javascript"
									src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e">
								</script>
								<!-- AddThis Button END -->
							</div><!-- block-2 -->
							<div class="related-products list-module col-md-3 col-sm-12 ">
								<div class="module-title">
									<h2>Related Products</h2>
								</div>

								<div class="owl-container">
									<div class="related-container tt-product owl-carousel owl-theme">
										<div class="row_items">
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/8-600x770.jpg' %}"
																		alt="Vargus All-Weather Tanks"
																		title="Vargus All-Weather Tanks"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating3">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Vargus
																		All-Weather Tanks</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="regular-price"><span
																			class="price">$122.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$100.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/1-600x770.jpg' %}"
																		alt="Beginner's Yogas" title="Beginner's Yogas"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index74a7.html?route=product/manufacturer/info&amp;manufacturer_id=9">Canon</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating3">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Beginner's
																		Yogas</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="regular-price"><span
																			class="price">$122.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$100.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/10-600x770.jpg' %}"
																		alt="Bess Yoga Shorts" title="Bess Yoga Shorts"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="indexe69c.html?route=product/manufacturer/info&amp;manufacturer_id=7">Hewlett-Packard</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating2">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Bess
																		Yoga Shorts</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="special-price"><span
																			class="price">$68.00</span></p>
																	<p class="old-price"><span
																			class="price">$74.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$55.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/11-600x770.jpg' %}"
																		alt="Chaz Kangeroo Hoodies"
																		title="Chaz Kangeroo Hoodies"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index54e6.html?route=product/manufacturer/info&amp;manufacturer_id=5">HTC</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating4">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Chaz
																		Kangeroo Hoodies</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="special-price"><span
																			class="price">$78.80</span></p>
																	<p class="old-price"><span
																			class="price">$80.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$64.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
										</div>
										<div class="row_items">
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/12-600x770.jpg' %}"
																		alt="Compete Track Totes"
																		title="Compete Track Totes"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating5">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Compete
																		Track Totes</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="special-price"><span
																			class="price">$80.00</span></p>
																	<p class="old-price"><span
																			class="price">$86.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$65.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/5-600x770.jpg' %}"
																		alt="Savvy Shoulder Totes"
																		title="Savvy Shoulder Totes"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index98fa.html?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating4">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Savvy
																		Shoulder Totes</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="regular-price"><span
																			class="price">$2,000.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$2,000.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/6-600x770.jpg' %}"
																		alt="Sprite Yoga Companion Kits"
																		title="Sprite Yoga Companion Kits"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating2">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Sprite
																		Yoga Companion Kits</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="special-price"><span
																			class="price">$86.00</span></p>
																	<p class="old-price"><span
																			class="price">$98.00</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$70.00</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
											<div class="product-layout list-style">
												<div class="product-thumb transition">
													<div class="item">
														<div class="item-inner">
															<div class="image images-container">
																<a href="{% url 'store:book_detail' %}"
																	class="product-image">
																	<img src="{% static 'image/cache/catalog/product/Book/7-600x770.jpg' %}"
																		alt="Strive Shoulder Packs"
																		title="Strive Shoulder Packs"
																		class="img-responsive" />
																</a>


															</div><!-- image -->
															<div class="caption">

																<p class="manufacture-product">
																	<a
																		href="index5b2d.html?route=product/manufacturer/info&amp;manufacturer_id=6">Palm</a>
																</p>
																<div class="ratings">
																	<div class="rating-box">
																		<div class="rating5">rating</div>
																	</div>
																</div>
																<h4 class="product-name"><a
																		href="{% url 'store:book_detail' %}">Strive
																		Shoulder Packs</a></h4>

																<div class="price-box">
																	<label></label>
																	<p class="regular-price"><span
																			class="price">$337.99</span></p>
																	<p class="price-tax"><span class="price">Ex Tax:
																			$279.99</span></p>
																</div>




															</div><!-- caption -->
														</div>
													</div>
												</div><!-- product-thumb -->
											</div><!-- product-layout -->
										</div>
									</div>
								</div>

							</div>
						</div>

					</div><!-- .row -->
					<div class="block-3  product-info-detailed">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
							<li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
							<li><a href="#tab-write-review" data-toggle="tab">Write Review</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-description">
								<div class="cpt_product_description ">
									<div>
										<p>
											<strong>More room to move.</strong></p>
										<p>
											With 80GB or 160GB of storage and up to 40 hours of battery life, the new
											iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video
											or any combination wherever you go.</p>
										<p>
											<strong>Cover Flow.</strong></p>
										<p>
											Browse through your music collection by flipping through album art. Select
											an album to turn it over and see the track list.</p>
										<p>
											<strong>Enhanced interface.</strong></p>
										<p>
											Experience a whole new way to browse and view your music and video.</p>
										<p>
											<strong>Sleeker design.</strong></p>
										<p>
											Beautiful, durable, and sleeker than ever, iPod classic now features an
											anodized aluminum and polished stainless steel enclosure with rounded edges.
										</p>
									</div>
								</div>
								<!-- cpt_container_end -->
							</div>
							<div class="tab-pane" id="tab-write-review">
								<form class="form-horizontal" id="form-review">
									<div id="review"></div>
									<h2>Write a review</h2>
									<div class="form-group required">
										<div class="col-sm-12">
											<label class="control-label" for="input-name">Your Name</label>
											<input type="text" name="name" value="" id="input-name"
												class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<label class="control-label" for="input-review">Your Review</label>
											<textarea name="text" rows="5" id="input-review"
												class="form-control"></textarea>
											<div class="help-block"><span class="text-danger">Note:</span> HTML is not
												translated!</div>
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<label class="control-label">Rating</label>
											&nbsp;&nbsp;&nbsp; Bad&nbsp;
											<input type="radio" name="rating" value="1" />
											&nbsp;
											<input type="radio" name="rating" value="2" />
											&nbsp;
											<input type="radio" name="rating" value="3" />
											&nbsp;
											<input type="radio" name="rating" value="4" />
											&nbsp;
											<input type="radio" name="rating" value="5" />
											&nbsp;Good</div>
									</div>

									<div class="buttons clearfix">
										<div class="pull-right">
											<button type="button" id="button-review" data-loading-text="Loading..."
												class="btn btn-primary">Continue</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane" id="tab-review">
								Hello World
							</div>

						</div>
					</div><!-- block-3 -->

				</div><!-- #content -->
			</div>

		</div><!-- #product-product -->
		<script>
			
			$('#product-product select[name=\'recurring_id\'], #product-product input[name="quantity"]').change(function () {
				$.ajax({
					url: 'index.php?route=product/product/getRecurringDescription',
					type: 'post',
					data: $(
						'#product-product input[name=\'product_id\'], #product-product input[name=\'quantity\'], #product-product select[name=\'recurring_id\']'),
					dataType: 'json',
					beforeSend: function () {
						$('#product-product #recurring-description').html('');
					},
					success: function (json) {
						$('.alert-dismissible, .text-danger').remove();
						if (json['success']) {
							$('#product-product #recurring-description').html(json['success']);
						}
					}
				});
			});
			//
			-->
		</script>
		<script>

			$('#button-cart').on('click', function (e) {
				e.preventDefault();
				$.ajax({
					url: '{% url "store:cart_add" %}',
					type: 'POST',
					data: {
						bookqty: $('#input-quantity').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
						action: 'post'
					},
					dataType: 'json',
					beforeSend: function () {
						$('#button-cart').button('loading');
					},
					complete: function () {
						$('#button-cart').button('reset');
					},
					success: function (json) {
						// console.log(json.qty)
						document.getElementById('cart-total').innerHTML = json.qty;
						// $('.alert-dismissible, .text-danger').remove();
						// $('.form-group').removeClass('has-error');
						// if (json['error']) {
						// 	if (json['error']['option']) {
						// 		for (i in json['error']['option']) {
						// 			var element = $('#input-option' + i.replace('_', '-'));
						// 			if (element.parent().hasClass('input-group')) {
						// 				element.parent().after('<div class="text-danger">' + json['error'][
						// 					'option'
						// 				][i] + '</div>');
						// 			} else {
						// 				element.after('<div class="text-danger">' + json['error']['option'][
						// 					i] + '</div>');
						// 			}
						// 		}
						// 	}
						// 	if (json['error']['recurring']) {
						// 		$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json[
						// 			'error']['recurring'] + '</div>');
						// 	}
						// 	// Highlight any found errors
						// 	$('.text-danger').parent().addClass('has-error');
						// }
						// if (json['success']) {
						// 	$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' +
						// 		json['success'] +
						// 		'<button type="button" class="close" data-dismiss="alert">&times;</button></div>'
						// 		);
						// 	$('#cart > button #cart-total').html(json['total']);
						// 	$('#cart > button .total-price').html(json['total_price']);
						// 	$('html, body').animate({
						// 		scrollTop: 0
						// 	}, 'slow');
						// 	$('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
						// }
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			});
			//
			
		</script>
		<script>
			
			$('.date').datetimepicker({
				language: 'en-gb',
				pickTime: false
			});
			$('.datetime').datetimepicker({
				language: 'en-gb',
				pickDate: true,
				pickTime: true
			});
			$('.time').datetimepicker({
				language: 'en-gb',
				pickDate: false
			});
			$('#product-product button[id^=\'button-upload\']').on('click', function () {
				var node = this;
				$('#product-product #form-upload').remove();
				$('body').prepend(
					'<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>'
					);
				$('#product-product #form-upload input[name=\'file\']').trigger('click');
				if (typeof timer != 'undefined') {
					clearInterval(timer);
				}
				timer = setInterval(function () {
					if ($('#product-product #form-upload input[name=\'file\']').val() != '') {
						clearInterval(timer);
						$.ajax({
							url: 'index.php?route=tool/upload',
							type: 'post',
							dataType: 'json',
							data: new FormData($('#product-product #form-upload')[0]),
							cache: false,
							contentType: false,
							processData: false,
							beforeSend: function () {
								$(node).button('loading');
							},
							complete: function () {
								$(node).button('reset');
							},
							success: function (json) {
								$('.text-danger').remove();
								if (json['error']) {
									$(node).parent().find('input').after(
										'<div class="text-danger">' + json['error'] + '</div>');
								}
								if (json['success']) {
									alert(json['success']);
									$(node).parent().find('input').val(json['code']);
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr
									.responseText);
							}
						});
					}
				}, 500);
			});
			//
			
		</script>
		<script>
			<!--
			$('#review').delegate('.pagination a', 'click', function (e) {
				e.preventDefault();
				$('#review').fadeOut('slow');
				$('#review').load(this.href);
				$('#review').fadeIn('slow');
			});
			$('#review').load('index4526.html?route=product/product/review&amp;product_id=93');
			$('#button-review').on('click', function () {
				$.ajax({
					url: 'index.php?route=product/product/write&product_id=93',
					type: 'post',
					dataType: 'json',
					data: $("#form-review").serialize(),
					beforeSend: function () {
						$('#button-review').button('loading');
					},
					complete: function () {
						$('#button-review').button('reset');
					},
					success: function (json) {
						$('.alert-dismissible').remove();
						if (json['error']) {
							$('#review').after(
								'<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' +
								json['error'] + '</div>');
						}
						if (json['success']) {
							$('#review').after(
								'<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' +
								json['success'] + '</div>');
							$('input[name=\'name\']').val('');
							$('textarea[name=\'text\']').val('');
							$('input[name=\'rating\']:checked').prop('checked', false);
						}
					}
				});
			});
			$(document).ready(function () {
				$('.related-container').owlCarousel({
					nav: false,
					dots: false,
					navSpeed: 1000,
					margin: 0,
					responsive: {
						0: {
							items: 1,
							nav: false
						},
						480: {
							items: 2,
							nav: false
						},
						768: {
							items: 2
						},
						992: {
							items: 1
						},
						1200: {
							items: 1
						}

					},
					onInitialized: function () {
						owlAction();
					},
					onTranslated: function () {
						owlAction();
					}
				});

				function owlAction() {
					$(".related-container .owl-item").removeClass('first');
					$(".related-container .owl-item").removeClass('last');
					$(".related-container .owl-item").removeClass('before-active');
					$(".related-container .owl-item.active:first").addClass('first');
					$(".related-container .owl-item.active:last").addClass('last');
					$('.related-container .owl-item.active:first').prev().addClass('before-active');
				}
				var thumbnails_owl = $('#product-product .thumbnails-additional');
				thumbnails_owl.on('initialize.owl.carousel initialized.owl.carousel ' +
					'initialize.owl.carousel initialize.owl.carousel ',
					function (e) {
						$("#product-product #gallery_01 .thumbnail").show();
					});
				thumbnails_owl.owlCarousel({
					nav: false,
					dots: false,
					navSpeed: 1000,
					margin: 10,
					responsive: {
						0: {
							items: 3,
							nav: false
						},
						480: {
							items: 4,
							nav: false
						},
						768: {
							items: 3
						},
						992: {
							items: 3
						},
						1200: {
							items: 4
						}
					}
				});
				$("#product-product .thumbnails img").elevateZoom({
					zoomType: "window",
					cursor: "crosshair",
					gallery: 'gallery_01',
					galleryActiveClass: "active",
					imageCrossfade: true,
					responsive: true,
					zoomWindowOffetx: 0,
					zoomWindowOffety: 0,
				});
				var thumbnails_additional = $('#product-product .thumbnails-additional .thumbnail');
				thumbnails_additional.each(function () {
					$(this).click(function () {
						thumbnails_additional.removeClass('current-additional');
						$(this).addClass('current-additional');
					});
				});
				var minimum = 1;
				$("#product-product #input-quantity").change(function () {
					if ($(this).val() < minimum) {
						alert("Minimum Quantity: " + minimum);
						$("#product-product #input-quantity").val(minimum);
					}
				});
				// increase number of product
				function minus(minimum) {
					var currentval = parseInt($("#product-product #input-quantity").val());
					$("#product-product #input-quantity").val(currentval - 1);
					if ($("#product-product #input-quantity").val() <= 0 || $("#product-product #input-quantity").val() <
						minimum) {
						alert("Minimum Quantity: " + minimum);
						$("#product-product #input-quantity").val(minimum);
					}
				};
				// decrease of product
				function plus() {
					var currentval = parseInt($("#product-product #input-quantity").val());
					$("#product-product #input-quantity").val(currentval + 1);
				};
				$('#product-product #minus').click(function () {
					minus(minimum);
				});
				$('#product-product #plus').click(function () {
					plus();
				});
			});
			//
			-->
		</script>
{% endblock %}